<table width="780" height="30" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="Titulo" -->Cotizaci&oacute;n Completa <!-- InstanceEndEditable --></td>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="BarraAuxiliar2" -->
    <!-- InstanceEndEditable -->
    </td>
  </tr>
</table>
<div style="width:780; height:420; overflow:auto;">
<table width="780" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><!-- InstanceBeginEditable name="Cuerpo" -->
      <table width="100%"  border="0" cellpadding="2" cellspacing="2" class="textonormal">
        <tr>
          <td width="31%" valign="top"><table border="0" align="center" cellpadding="2" cellspacing="2" class="textonormal">
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
              <th colspan="2">Cotizaci&oacute;n {id_os}&nbsp;completada satisfactoriamente.</th>
            </tr>
            <script language="JavaScript" type="text/JavaScript" src="popup.js"></script>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="59"><div align="center"><a href="javascript:popUpWindowModal('printframe.php?id_os={id_os}', 100, 100, 710, 500);"><img src="../img/ico_print.gif" width="34" height="34" border="0"></a></div></td>
              <td width="184"><a href="javascript:popUpWindowModal('printframe.php?id_os={id_os}&dire_des={dire_des}', 100, 100, 710, 500);">Imprimir Cotizaci&oacute;n</a></td>
            </tr>
            <tr>
              <td width="59"><div align="center"><a href="javascript:popUpWindowModal('printcbar.php?id_os={id_os}', 100, 100, 710, 500);"><img src="../img/upc1.gif" border="0"></a></div></td>
              <td width="200"><a href="javascript:popUpWindowModal('printcbar.php?id_os={id_os}&dire_des={dire_des}', 100, 100, 710, 500);">Imprimir Códigos de Barra</a></td>
            </tr>
          </table> </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

