<script language="javascript" src="../../includes/funciones.js"></script>
	<SCRIPT LANGUAGE="JavaScript">
	<!--
	function validar_form(){
		if( validar_obligatorio( nueva_cotizacion_01.clie_nombre, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		if( validar_obligatorio( nueva_cotizacion_01.clie_paterno, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		if( validar_obligatorio( nueva_cotizacion_01.clie_materno, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		if( validar_obligatorio( nueva_cotizacion_01.dire_direccion, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		if( validar_obligatorio( nueva_cotizacion_01.clie_telefonocasa, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		if( validar_obligatorio( nueva_cotizacion_01.clie_telcontacto, "Por favor diligencie todos los campos obligatorios (campos precedidos por *)" ))
			return false;
		document.nueva_cotizacion_01.submit();
	}
	//-->
	</SCRIPT>
<script language="JavaScript" src="../checkfield.js"></script>

<link href="../estilos.css" rel="stylesheet" type="text/css">
<body  onload="document.nueva_cotizacion_01.clie_nombre.focus();"> 

<!-- InstanceEndEditable -->
<!-- foter identificado--!>
<!-- InstanceEnd -->
