<script language="javascript" src="../../includes/funciones.js"></script>
	<SCRIPT LANGUAGE="JavaScript">
	
	function abrir_ventana()
	{
	popUpWindowMod('../nueva_cotizacion/ajustar_fletes.php?id_os={id_os}', 30, 50, 720, 620);
	}

	function validar_recatado(){
  		rescatado=nueva_cotizacion_04_dire.select_direcciones.options[nueva_cotizacion_04_dire.select_direcciones.selectedIndex].value;
			if (popUpWindowModal('libreta2.php?id_direccion='+rescatado+'&accion=editar&id_os={id_os}', 100, 100, 800, 400)=='refresh')
				location.href='nueva_cotizacion_04.php?id_os={id_os}';
	}
	function Datos_cliente(){	
		tipo=nueva_cotizacion_04_dc.clie_tipo.value;
		rut=nueva_cotizacion_04_dc.clie_rut.value;
		fin="fin";
			if (popUpWindowModal('nueva_cotizacion_templa3.php?tipo={clie_tipo}&donde='+fin+'&clie_rut'+rut+'&id_os={id_os}', 100, 100, 890, 500)=='refresh')
			location.href='nueva_cotizacion_04.php?id_os={id_os}';
	}
	function selec_dire(){	
		rescatado=nueva_cotizacion_04_dire.select_direcciones.options[nueva_cotizacion_04_dire.select_direcciones.selectedIndex].value;
		document.nueva_cotizacion_04_dire.id_direccion.value=nueva_cotizacion_04_dire.select_direcciones.options[nueva_cotizacion_04_dire.select_direcciones.selectedIndex].value;
		document.nueva_cotizacion_04_dire.submit();		
	}
	
	function desactivar()
	{		
	
		if(document.nueva_cotizacion_04_dire.fecha_entrega_dp.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho D. Programado');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_ex.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Express');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_rc.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Retira Cliente');
		return false;
		}
		
	document.nueva_cotizacion_04_dire.direccion.value = document.nueva_cotizacion_04_dire.select_direcciones.value;
	document.nueva_cotizacion_04_dire.accion.value = 'liquidacion';
	
	location.href='nueva_cotizacion_04.php?id_os={id_os}';
	document.nueva_cotizacion_04_dire.submit();
	}

	function guardar_fechas()
	{		
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_dp.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_dp.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho D. Programado');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_ex.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_ex.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Express');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_rc.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_rc.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Retira Cliente');
		return false;
		}
		
		document.nueva_cotizacion_04_dire.accion.value = 'GuardarFechas';
		location.href='nueva_cotizacion_04.php?id_os={id_os}';
		document.nueva_cotizacion_04_dire.submit();

	}
	
	
	function validar_fechas()
	{
		if(document.nueva_cotizacion_04_dire.fecha_entrega_dp.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_dp.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho D. Programado');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_ex.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_ex.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Express');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_rc.value == '' && document.nueva_cotizacion_04_dire.fecha_entrega_rc.style.visibility == 'visible'){
		alert('Debe Ingresar un fecha para el tipo de despacho Retira Cliente');
		return false;
		}
		
		if(document.nueva_cotizacion_04_dire.fecha_entrega_dp.style.visibility == 'visible' || document.nueva_cotizacion_04_dire.fecha_entrega_ex.style.visibility == 'visible' || document.nueva_cotizacion_04_dire.fecha_entrega_rc.style.visibility == 'visible'){
		alert('Debe Guardar las Fechas');
		return false;
		}		
		
		
	}
	
	
	</SCRIPT>
	
	
	<SCRIPT LANGUAGE="JavaScript" SRC="../CalendarPopup.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
	
	<SCRIPT LANGUAGE="JavaScript" ID="js17">											
		
		var ayer = new Date();

 		dia=ayer.getDate() - 1;
		mes=ayer.getMonth();
		anio=ayer.getYear();		
		var ayer = new Date (anio, mes, dia);
		var cal1 = new CalendarPopup("testdiv1");
		cal1.offsetX = 40;
		cal1.offsetY = -72;
		cal1.addDisabledDates(null,formatDate(ayer,"yyyy-MM-dd"));

	</SCRIPT> 


<link href="estilos.css" rel="stylesheet" type="text/css">

<table width="780" height="30" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="Titulo" -->Paso 5/5 - Confirmaci&oacute;n de la Cotizaci&oacute;n<!-- InstanceEndEditable --></td>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="BarraAuxiliar2" -->
      <table  border="0" align="right" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="../img/1a.gif" width="40" height="40"></td>
          <td><img src="../img/redarrow.gif" width="24" height="20"></td>
          <td><img src="../img/2a.gif" width="40" height="40"></td>
          <td><img src="../img/redarrow.gif" width="24" height="20"></td>
          <td><img src="../img/3a.gif" width="40" height="40"></td>
          <td><img src="../img/redarrow.gif" width="24" height="20"></td>
          <td><img src="../img/4a.gif" width="40" height="40"></td>
          <td><img src="../img/redarrow.gif" width="24" height="20"></td>
          <td><img src="../img/5b.gif" width="40" height="40"></td>
        </tr>
      </table>
    <!-- InstanceEndEditable --></td>
  </tr>
</table>
<!--div style="width:780; height:500; overflow:auto;"-->
<table width="780" height="80%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><!-- InstanceBeginEditable name="Cuerpo" -->
      <table width="100%"  border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td width="31%" valign="top">
              <table width="720" border="0" align="center" cellpadding="2" cellspacing="1" class="textonormal">

<FORM NAME="nueva_cotizacion_04_dc" METHOD="POST" ACTION="nueva_cotizacion_04.php" onSubmit="">
<input type="hidden" name="accion" value="datos_cotizacion">
<input type="hidden" name="clie_rut" value="{clie_rut}">
<input type="hidden" name="id_os" value="{id_os}">
<input type="hidden" name="clie_tipo" value="{clie_tipo}">
				<tr>
                  <td><fieldset><legend>Datos Cotización</legend>
                      <table width="720" border="0" align="center" cellpadding="2" cellspacing="1" class="textonormal">
                        <tr>
                          <td>{TEXT_CAMPO_1}</td>
                          <td class="userinput">{id_os}</td>
                          <td>{TEXT_CAMPO_2} </td>
                          <td class="userinput">{os_fechacotizacion}</td>
                        </tr>
                        <tr>
                          <td>{TEXT_CAMPO_3}</td>
                          <td class="userinput">{esta_nombre} </td>
                          <td>{TEXT_CAMPO_4} </td>
                          <td class="userinput">{atendido} </td>
                        </tr>
                        <tr>
                          <td>{TEXT_CAMPO_5}</td>
                          <td class="userinput">{nom_local}</td>
                          <td>Válido hasta:</td>
                          <td class="userinput">{os_fechaexpiracion}</td>
                        </tr>
                        <tr>
                          <td width="115">Cotizaciones Cruzadas </td>
                          <td width="239" class="userinput"> {os_cotizaciones_cruzadas} </td>
                          <td width="100">{TEXT_CAMPO_7}</td>
                          <td width="244" class="userinput">{proy_nombre}</td>
                        </tr>
                        <tr>
                          <td>Observaciones</td>
                          <td colspan="3" class="userinput">{os_comentarios}</td>
                        </tr>
</form>
            </table>
                  </fieldset></td>
        </tr>
<FORM NAME="nueva_cotizacion_04" METHOD="POST" ACTION="nueva_cotizacion_04.php" onSubmit="">
<input type="hidden" name="accion" value="datos_cliente">
<input type="hidden" name="clie_tipo" value="{clie_tipo}">
<input type="hidden" name="id_os" value="{id_os}">
                <tr>
                  <td><fieldset>
                    <legend>Datos Cliente</legend>
                    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="textonormal">
                      <tr>
                        <td width="118">{TEXT_CAMPO_10}</td>
                        <td width="245" class="userinput">{clie_rut}</td>
                        <td width="103">{TEXT_CAMPO_11}</td>
                        <td width="251" class="userinput">{clie_nombre}&nbsp;{clie_paterno}&nbsp;{clie_materno}</td>
                      </tr>
                      <tr>
                        <td>{TEXT_CAMPO_12}</td>
                        <td class="userinput">{dire_direccion_pri}</td>
                        <td>{TEXT_CAMPO_13}</td>
                        <td class="userinput">{comu_nombre_pri}</td>
                      </tr>
            	      <script language="JavaScript" type="text/JavaScript" src="popup.js"></script>
                      <tr>
                        <td>{TEXT_CAMPO_14}</td>
						<td class="userinput">{clie_telcontacto1}</td>
                        <td>Tel&eacute;fono Celular </td>
						<td class="userinput">{clie_telcontacto2}</td>
    </tr>                      <tr>
                        <td>&nbsp;</td>
						<td class="userinput">&nbsp;</td>

                        <td><input type="button" name="Button" id="Button" value="Editar" onClick="Datos_cliente();">
						<!--input type="button" name="Button2" value="Editar" onClick="submit()"--></td>
                        <td class="userinput">&nbsp;</td>
                      </tr>
                    </table>
                  </fieldset></td>
                </tr>
</form>
				

<!---form para editar direcciones!-->
<form name="nueva_cotizacion_04_dire" id="nueva_cotizacion_04_dire" metho="POST" action="nueva_cotizacion_04.php" onSubmit=""> 
<input type="hidden" name="clie_rut" value="{clie_rut}">
<input type="hidden" name="id_os" value="{id_os}">
<input type="hidden" name="accion" value="Onchange">
<input type="hidden" name="id_direccion" value="{id_direccion}">
<tr>
                  <td><fieldset>
                    <legend>Direcci&oacute;n de Servicio (Despacho, Instalaciones) </legend>
					
                    <table width="100%" border="0" align="center" cellpadding="2"  cellspacing="1" class="textonormal">
                      <tr>
                        <td>{TEXT_CAMPO_15}</td>
                        <td colspan="3" class="userinput">
						<select name="select_direcciones" onChange="selec_dire(this.form)" >
				<!-- BEGIN Direcciones -->
				<option value="{id_direccion}" {selected}>{dire_nombre}&nbsp;({dire_direcciond},&nbsp;{comu_nombred})</option>
				<!-- END Direcciones -->                        
						</select>
                       <input type="button" name="BotonEd" id="BotonEd" value="Editar" onClick="validar_recatado();"></td>
                      </tr>
                      <input name="direccion" type="hidden" id="direccion">                      
                    <tr>
                        <td width="120">{TEXT_CAMPO_16}</td>
                        <td width="245" class="userinput">{dire_nombre2}</td>
                        <td width="106">Departamento</td>
                        <td width="251" class="userinput">{departamento}</td>
                    </tr>
                      <tr>
                        <td>{TEXT_CAMPO_18}</td>
                        <td class="userinput">{dire_direccion_des}</td>
                        <td>Ciudad</td>
                        <td class="userinput">{ciudad}</td>
                      </tr>
                      <tr>
                        <td>{TEXT_CAMPO_19}</td>
						 <td  colspan="0" class="userinput">{dire_observacion_des}</td>
						 <td>{TEXT_CAMPO_13}</td>
                        <td class="userinput">{comu_nombre_des}</td>
                      </tr>
        
      </table>
                  </fieldset>
				  
				  <div align="center">
                  <input type="button" name="liquidar" id="liquidar" value="Liquidar Transporte" onClick="desactivar();" style="visibility:{visible}"  >
				  </div>
				  
				  <div align="right">
                  <input type="button" name="ajustar" id="ajustar" value="Ajustar Fletes" onClick="abrir_ventana();"  disabled >
				  </div>
	  
        </tr>
				
				
				
				<tr class="tabla2">
                	<td style="visibility:{visible_boton}">
						Fecha Entrega D. Programado  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha Entrega Express  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha Entrega Retira Cliente
					</td>
					
		</tr>
				
				<tr>
                	<td>
										
						<input name="fecha_entrega_dp"   id="fecha_entrega_dp" type="text" size="9" maxlength="10" readonly="true" value="" style="visibility:{visible_dp}" >
					    &nbsp;<button  name="botonfecha1" id="botonfecha1" type="button"  onClick="cal1.select(document.forms[2].fecha_entrega_dp,'botonfecha1','dd/MM/yyyy'); " style="visibility:{visible_dp}" >
						<img src="../img/lib/cal.gif" /></button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					
						<input name="fecha_entrega_ex"   id="fecha_entrega_ex" type="text" size="9" maxlength="10" readonly="true" value="" style="visibility:{visible_ex}" >
					    &nbsp;<button  name="botonfecha2" id="botonfecha2" type="button"  onClick="cal1.select(document.forms[2].fecha_entrega_ex,'botonfecha2','dd/MM/yyyy'); " style="visibility:{visible_ex}" >
						<img src="../img/lib/cal.gif" /></button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
						<input name="fecha_entrega_rc"   id="fecha_entrega_rc" type="text" size="9" maxlength="10" readonly="true" value="" style="visibility:{visible_rc}" >
					    &nbsp; <button  name="botonfecha3" id="botonfecha3" type="button"  onClick="cal1.select(document.forms[2].fecha_entrega_rc,'botonfecha3','dd/MM/yyyy'); " style="visibility:{visible_rc}" >
						<img src="../img/lib/cal.gif" /></button>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="button" name="guardar_fecha" id="guardar_fecha" value="Guardar Fechas" onClick="guardar_fechas();" style="visibility:{visible_boton}"  >
						
					</td>
					
				</tr>
				
      </table>
			 
			 <DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
			 
              <br>
             <!---include de os-detalle!-->
              <table width="715" border="0" align="center" cellpadding="2" cellspacing="0" class="tabla2">
            <tr>
              <th width="55">C&oacute;digo</th>
              <th width="38">Tipo</th>
              <th width="270">Descripci&oacute;n</th>
              <th width="89">Tipo Despacho</th>
				  <th width="69">Fecha de Entrega</th>
              <th width="66">Instalaci&oacute;n</th>
			  	<th width="59">Peso Kg</th>
              <th width="39">Cantidad</th>
			  <th width="65">Precio con Iva </th>
              <th width="61">Total con Iva </th>
            </tr>
		 <!-- BEGIN Precio_Total -->
		   <tr valign="top">
                <td align="center">{cod_barra}<br>({cod_sap})</td>
			    <td><div align="center">{osde_tipoprod}</div></td>
                <td>{osde_descripcion}{especificacion}{osde_especificacion}</td>
                <td>{tipo_nombre}</td>
					<td><div align="center">{osde_fecha_entrega}</div>&nbsp;</td>
	            <td><div align="center">{osde_instalacion}</div></td>
				<td><div align="center">{peso}</div></td>
                <td><div align="right">{osde_cantidad}</div></td>
				<td><div align="right">{precioVacio}{osde_precio}</div></td>
				<td><div align="right">{totalVacio}{Total}</div></td>
		 <!-- END Precio_Total -->
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              
              <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
              <td><b>Total</b></td>
			  <td>&nbsp; </td>
              <td><div align="center">&nbsp;</div></td>
              <td>&nbsp;</td>
              <td><div align="right"><b>{TG}</b></div></td>
            </tr>
          </table> 
  </td>
        </tr>
            <script language="JavaScript" type="text/JavaScript" src="popup.js"></script>
        <tr>
          <td align="center"><table width="299"  border="0" cellpadding="2" cellspacing="2" class="textonormal">
            <tr>
              <td width="33"><a href="nueva_cotizacion_03.php?id_os={id_os}"><img src="../img/anterior.gif" width="23" height="23" border="0"></a></td>
              <td width="59">Anterior</td>
              <td width="291">
                <table width="132"  border="0" cellpadding="0" cellspacing="0" class="textonormal">
                  <tr>
                    <td width="25">&nbsp;<a href="javascript:popUpWindowModal('../nueva_cotizacion/printframe2.php?id_os={id_os}', 50, 100, 696, 600);"><img src="../img/ico_print.gif" width="23" height="23" border="0"></a>&nbsp;</td>
                    <td width="50">&nbsp;<a href="javascript:popUpWindowModal('../nueva_cotizacion/printframe2.php?id_os={id_os}', 50, 100, 696, 600);">Imprimir Borrador </a>&nbsp;</td>
					<td width="11">&nbsp;&nbsp;</td>
					<td width="64"><a href="javascript:popUpWindow('../nueva_cotizacion/validar_cruce_cotizacion.php', 50, 100, 396, 320);">Autorizar Cruce</a></td>
                  </tr>
                </table></td>
              <td width="72">&nbsp;
                <div align="right">Gererar Cotización</div>&nbsp;</td>
              <td width="29" id="siguiente" style="visibility:{visible3}" >{finalizar}
			  <img src="../img/siguiente.gif" width="23" height="23" border="0" >
			  </td>
            </tr>
          </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

 </form>
 
<script language="javascript"  type="text/javascript" >
//document.nueva_cotizacion_04_dire.liquidar.style.visibility = {visible};
</script>

<!-- InstanceEndEditable -->
<!-- foter identificado--!>
<!-- InstanceEnd -->

