<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Asigna OS</title>
<link href="../estilos.css" rel="stylesheet" type="text/css">

</head>
<body>
<SCRIPT LANGUAGE="JavaScript">	
	function accion(){
		document.asignaOS.actua.value="update";
		document.asignaOS.submit();				
	}
</SCRIPT>

<form name="asignaOS" ACTION="asignaOS.php" onSubmit="">
<table width="100%"  border="0" cellpadding="5" cellspacing="3">
  <tr>
  	<td colspan="6"><div class="textonormal" align="center">{legend}</div></td>
  </tr>
  <tr>
	<td colspan="6" align="center">
	  <input name="actua" id="actua" type="hidden" size="12" maxlength="12" value="">
	  <select name="OS" id="OS">
	  <!-- BEGIN OS -->
	  	<option value="{value}">{id_os}</option>
	  <!-- END OS -->
	  </select>
	  <input name="id_ot" id="id_ot" type="hidden" size="12" maxlength="12" value="{id_ot}">
	  <input name="tipoAso" id="tipoAso" type="hidden" size="12" maxlength="12" value="{tipoAso}"/>
	</td>   
  </tr>
  <tr>
    <td colspan="6"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" align="center">
    	<input type="button" name="Button" value="Asignar OS" onclick="accion()">
    </td>
	<td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
</html>