<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Detalle Prefacturación</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="33,*" cols="*" framespacing="0" frameborder="NO" border="0">
  <frame src="prthdr_pf.php" name="topFrame" scrolling="NO" noresize >
  <frame src="print_pf.php?id_lote={id_lote}" name="mainFrame">
</frameset>
<noframes><body>
</body></noframes>
</html>
