<link rel="stylesheet" type="text/css" href="../estilos.css">
<table width="{tamano}" border="0" align="center" cellpadding="1" cellspacing="2" class="tabla1">
			<tr>
              <td colspan=2>{local}</td>
              <td colspan=2>{total_l}</td>
              <td align=right></td>
              <td align=right></td>
              <td align=right></td>
              <td align=right></td>
              <td align=right></td>
              <td align=right></td>
              <td align=right>{total_l}</td>
            </tr>
</table>