<link rel="stylesheet" type="text/css" href="../estilos.css">
<script language="javascript" src="../../includes/funciones.js"></script>
<script language="JavaScript" type="text/JavaScript" src="../nueva_cotizacion/popup.js"></script>
<script language="JavaScript" src="../checkfield.js"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="../CalendarPopup.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<!-- para el calendario --->
<SCRIPT LANGUAGE="JavaScript">
	var cal1 = new CalendarPopup("testdiv1");	//Se asigna la respuesta a la ventana actual
	cal1.offsetX = 20;										
	cal1.offsetY = 0;

/*evalua las fechas*/
function EvaluaFechas(fi,ft){
	var fecha1=new Date()
	var fecha2=new Date()
	var str1 = fi;
	var str2 = ft;
	
	fechaArr1 = new Array;
	fechaArr2 = new Array;
	 
	fechaArr1 = str1.split("/");
	fechaArr2 = str2.split("/");
	/* convierte la fecha a número comparable*/
	fecha1.setFullYear(fechaArr1[2],fechaArr1[1]-1,fechaArr1[0])
	fecha2.setFullYear(fechaArr2[2],fechaArr2[1]-1,fechaArr2[0])
	 
	if (fecha1>fecha2){
	  return false;
	}
	if (fecha1 == fecha2){
	  return true;
	}
	if (fecha1 < fecha2){
	  return true;
	}
}
/*cambia la validacion del texto según el radio marcado*/
function cambia_va(){
   /* para busqueda valida texto UPC,EAn o desc*/
	va=Busqueda();
	if ((eval('va')=='UPC')||(va=='SAP')){
		document.producto.texto_dato.onkeypress =KeyIsNumber;
		if(document.producto.texto_dato.value){
			texto=isNaN(document.producto.texto_dato.value);					
				if(texto==true){
					alert('Para búsqueda debe ingresar sólo números');
					document.producto.texto_dato.select();
					return false;
				}
		}
	}else{
		document.producto.texto_dato.onkeypress =KeyIsTexto;
		if(document.producto.texto_dato.value){
			texto=isNaN(document.producto.texto_dato.value);					
				if(texto==false){
					alert('debe ingresar nuevamente el texto');
					document.producto.texto_dato.select();
					return false;
				}
		}
	}
return true;
}

/****ver imprimir reporte**/
	function Ver_Reporte(accion){
		var valor=true;
		fecha_inicio=document.producto.fecha_inicio.value;
		fecha_termino=document.producto.fecha_termino.value;
		valor=EvaluaFechas(fecha_inicio,fecha_termino);
		if(valor==false){
			alert('Fecha de inicio mayor que fecha de término');
			document.producto.fecha_inicio.select();
			return false;
		}
		document.producto.accion.value = accion;
		if (accion=='Exportar'){
			document.producto.submit();
		}
		if (accion=='VerReporte'){
			document.producto.submit();
		}
		if(accion=='Imprimir'){
			popUpWindowModal('printframe.php?select_local='+select_local+'&select_top='+select_top+'&t_top='+t_top+'&select_tipo='+select_tipo+'&select_subtipo='+select_subtipo+'&va='+va+'&texto_dato='+texto_dato+'&fecha_inicio='+fecha_inicio+'&fecha_termino='+fecha_termino+'&accion='+accion, 100, 100, 710, 500);
		}
	}
</SCRIPT>  
<table width="780" height="30" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="390" class="titulonormal">Ventas de Productos TOP</td>
    <td width="390" class="titulonormal"></td>
  </tr>
</table>

<table width="99%" height="90%" align="center" border="0" cellpadding="0" cellspacing="0">
<FORM NAME="producto" METHOD="POST" ACTION="reporte_producto.php" onSubmit="">
<input type="hidden" name="accion" value="">
<input type="hidden" name="prod_subtipo" value="">
  <tr>
    <td valign="top"><!-- InstanceBeginEditable name="Cuerpo" -->
      <table width="100%"  border="0" cellspacing="2" cellpadding="2">
        <tr>
          <td valign="top">

			<!--------------------------- COMIENZO BARRA FILTROS ------------------------>

			<table border="0" width="100%" align="center" cellpadding="0" cellspacing="3" class="textonormal">
				<tr>
					<!-- Elemento Locales -->
					<td valign="top" width="20%">
						<p class="userinput">
						<fieldset>
							<legend>Local</legend>
							<table border="0"  height="20" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="bottom">
										<span class="userinput">
										<select name="select_local" class="select1">
										<option value="0">TODOS</option>
										<!-- BEGIN Locales -->
										<option value="{id_local}" {selected}>{nom_local}</option>
										<!-- END Locales -->
										 </select>
										</span>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
					<!-- Elemento Dise&ntilde;ador -->
					<td valign="top" width="30%">
						<fieldset>
							<legend>Top</legend>
							<table border="0" height="20" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="bottom" class="userinput">
										<select name="select_top" class="select1">
											<option value="10" {selected10}>TOP 10</option>
											<option value="50" {selected50}>TOP 50</option>
											<option value="200"{selected200}>TOP 200</option>
											<option value="1000" {selected1000}>TOP 1000</option>
										</select>
									  <INPUT TYPE="radio" NAME="t_top" value="venta"{checked_m}>Monto
									  <INPUT TYPE="radio" NAME="t_top" value="numvendido"{checked_c}>Cantidad
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
                  <td valign="top" width="20%"><p class="userinput">
                      <fieldset>
                      <legend>Tipo</legend>
                      <table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="bottom"><span class="userinput">
                            <select name="select_tipo" class="select1" onchange="sel_grupos()"> 
								<option value="0"> TODOS </option>
								<option value="PS" {selected_ps}>PS - PRODUCTO STOCK</option>
								<option value="PE" {selected_pe}>PE - PEDIDO ESPECIAL</option>
								<option value="SV" {selected_sv}>SV - SERVICIOS</option>
                            </select></span></td>
                        </tr>
                      </table>
                      </fieldset>
					</td>

                  <td valign="top" width="15%"><p class="userinput">
                      <fieldset>
                      <legend>SubTipo</legend>
                      <table width="100%"  height="20" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="bottom"><span class="userinput" class="select1">
						  <select name="select_subtipo" class="select1" >
						  </select>
							<script>
								sel_grupos();
							</script>
						  </span>
						 </td>
                        </tr>
                      </table>
                      </fieldset>
					</td>
				</tr>
			</table>                          

			<table width="100%" border="0" align="center" cellpadding="0" cellspacing="3" class="textonormal">
				<tr>

                  <td valign="top" width="35%"><p class="userinput">
                      <fieldset>
                      <legend>Búsqueda de producto</legend>
                      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><span class="userinput">
						  <INPUT TYPE="radio" NAME="va" value="UPC"  onchange="cambia_va('UPC')" {checked_UPC}>UPC
						  <INPUT TYPE="radio" NAME="va" value="SAP"  onchange="cambia_va('SAP')" {checked_SAP}>SAP
						  <INPUT TYPE="radio" NAME="va" value="DESC" onchange="cambia_va('DESC')"{checked_DESC}>Descripci&oacute;n
                            <input name="texto_dato" type="text" size="10" value="{texto_dato}">
						   </span></td>
                        </tr>
                      </table>
                      </fieldset>
					</td>

					<!-- Elemento Estado -->
					<td valign="top" width="38%">
						<fieldset>
							<legend>Rango Fechas</legend>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="textonormal">Inicio
									<input name="fecha_inicio" id="fecha_inicio" type="text" size=10 maxlength="10" value="{fecha_inicio}" onClick="cal1.select(document.forms[0].fecha_inicio,'anchor1','dd/MM/yyyy'); return false;">
									<a href="#" onClick="cal1.select(document.forms[0].fecha_inicio,'anchor1','dd/MM/yyyy'); return false;" name="anchor1" id="anchor1"><img src="../img/lib/cal.gif" width="16" height="16" border="0" title="Fecha Inicio "></a>
									 <DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
								  </td>
									<td>
										&nbsp;&nbsp;&nbsp;
									</td>
									<td class="textonormal" >Término
									<input name="fecha_termino" id="fecha_termino" type="text" size=10 maxlength=10 value="{fecha_termino}" onClick="cal1.select(document.forms[0].fecha_termino,'anchor','dd/MM/yyyy'); return false;">
									<a href="#" onClick="cal1.select(document.forms[0].fecha_termino,'anchor','dd/MM/yyyy'); return false;" name="anchor" id="anchor"><img src="../img/lib/cal.gif" width="16" height="16" border="0" title="Fecha Término "></a>
									 <DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>

					<!-- Elemento Bot&oacute;n B&uacute;squeda -->
					<td  width="40%" rowspan="2" valign="top" align="right">
						<table border="0"  cellspacing="0"   height="10" cellpadding="0">
						<tr>
						<td valign="bottom" align="right" >
							<input type="button" name="Button23" value="&nbsp;&nbsp;Ver Reporte&nbsp;&nbsp;" onClick="Ver_Reporte('VerReporte')">
						</td>
							<td valign="top" width="40%" align="right">
								<input type="button" name="Button23" value="&nbsp;&nbsp;&nbsp;&nbsp;Imprimir&nbsp;&nbsp;&nbsp;&nbsp; "onClick="Ver_Reporte('Imprimir')";>
							</td>
						</tr>
						<tr>
						<!-- Elemento Bot&oacute;n B&uacute;squeda -->
						<td valign="bottom"  colspan="2" align="center" >
							<input type="button" name="Button23" value="&nbsp;&nbsp;Exportar a Excel &nbsp;&nbsp;" onClick="Ver_Reporte('Exportar')">
						</td>
						</tr>
						</table>
					</td>
				</tr>
			</table>                          
		<SCRIPT LANGUAGE="JavaScript">
		<!--
			/* cuando la página se carga por primera vez valida la entrada del texto*/
			va=Busqueda();
			if ((eval('va')=='UPC')||(va=='EAN')){
			texto=isNaN(document.producto.texto_dato.value);					
					document.producto.texto_dato.onkeypress =KeyIsNumber;

			}else{
					document.producto.texto_dato.onkeypress =KeyIsTexto;
			}
		-->
		</script>
		</form>
		{body}
		</td>
        </tr>
      </table>
     <p>&nbsp;</p>
    <!-- InstanceEndEditable --></td>
  </tr>
</table>