<link href="../../style.css" rel="stylesheet" type="text/css">
<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>

{OUT_BARRA}

<br>

<table width="80%" border="0" align=center class="generica">
<tr class="table_titulo">
	<td width="150">{TEXT_TITLE_1}</td>
	<td>{TEXT_TITLE_2}</td>
	<td width="80">&nbsp;</td>
</tr>
<!-- BEGIN Grupos -->
<tr valign="middle">
	<td width="150">{glo_titulo}&nbsp;</td>
	<td>{glo_descripcion}&nbsp;</td>
	<td width="80" align=center>{ACCIONES}</td>
</tr>
<!-- END Grupos -->
</table>

<br>