<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>
{OUT_BARRA}
<br>
<SPAN class=subtitulo>{SUBTITULO1}</SPAN>
<br>
<br>

<table width="95%" border="0" align=center class="generica">
<tr class="table_titulo">
	<td width="150">{TEXT_CAMPO_VAR_1}</td>
	<td>{TEXT_CAMPO_VAR_2}</td>
	<td width="180">{TEXT_CAMPO_VAR_3}</td>
	<td width="30" align="center">{TEXT_CAMPO_VAR_4}</td>
	<td width="60">&nbsp;</td>
</tr>
<!-- BEGIN Variables -->
<tr>
	<td width="150">{var_titulo}&nbsp;</td>
	<td>{var_descripcion}&nbsp;</td>
	<td width="180">{var_llave}&nbsp;</td>
	<td width="30" align="center">{var_valor}&nbsp;</td>
	<td width="60" align=center>{ACCIONES}</td>
</tr>
<!-- END Variables -->
</table>

<br>