<script language="javascript" src="../../includes/funciones.js"></script>
<script language="JavaScript" type="text/JavaScript" src="../nueva_cotizacion/popup.js"></script>

<SCRIPT LANGUAGE="JavaScript">
function validar_osot(){
    var valorE,radioE,elec;
    if ( validar_numero( document.busca_osot.texto_osot , "Debe ingresar valor numérico" ) )
        return false;
    
    for (i=0;i<document.busca_osot.radioE.length;i++){ 
       if (document.busca_osot.radioE[i].checked){ 
          valor = document.busca_osot.radioE[i].value;
		  elec=valor;
		  break;
       }
    }          
	texto_osot =document.busca_osot.texto_osot.value;
    radioE =elec;
    document.busca_osot.submit();
}
</SCRIPT>

<table width="780" height="5%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="390" class="titulonormal">Monitor OT Pedidos Especiales </td>
		<td width="390" class="titulonormal">&nbsp;</td>
	</tr>
</table>

<table width="780" border="0" height="95%" cellpadding="0" cellspacing="0"  border="5" bordercolor="white">
	<tr>
		<td valign="top">
			<table width="95%" border="0" align="center" cellpadding="0" cellspacing="2">
				<tr>
				<form NAME="busca_osot" METHOD="POST" ACTION="index.php" onSubmit="return validar_osot(this);">
					<td width="30%">
						<table width="100%" border="0" align="rigth" cellpadding="0" cellspacing="0" class="textonormal">
							<tr>
								<td>
									<fieldset>
									<legend>Rango Monitor OT</legend>
									<span class="userinput">
										<input name="radioR" type="radio" value="A" {checkedRA}>Activas
										<input name="radioR" type="radio" value="I" {checkedRI}>Inactivas
										<input name="radioR" type="radio" value="T" {checkedRT}>Alertas
									</span>
									</fieldset>
								</td>
							</tr>
						</table> 
					</td>
					<td width="25%">
						<table width="100%" border="0" align="rigth" cellpadding="0" cellspacing="0" class="textonormal">
							<tr>
								<td width="343">
									<fieldset>
									<legend>N&deg; OT/OS</legend>
									<span class="userinput">
										<input name="radioE" type="radio" value="ot" {checkedT}>OT
										<input name="radioE" type="radio" value="os" {checkedS}>OS
										<input type="text" name="texto_osot" value="{texto_osot}" size=8 maxlength=8>
										<input type="submit" value="Buscar">
									</span>
									</fieldset>
								</td>
							</tr>
						</table> 
					</td>
					<td width="15%">
						<table width="100%" border="0" align="rigth" cellpadding="0" cellspacing="0" class="textonormal">
							<tr>
								<td width="343">
									<fieldset>
									<legend>N&ordm; OC SAP</legend>
									<span class="userinput">
										<input type="text" name="texto_nocsap" value="{texto_nocsap}" size="12" maxlength="12"/>
										<input type="submit" value="Buscar"/>
									</span>
									</fieldset>
								</td>
							</tr>
						</table> 
					</td>
					<td width="28%">
						<table width="100%" border="0" align="rigth" cellpadding="0" cellspacing="0" class="textonormal">
							<tr>
								<td width="343">
									<fieldset>
									<legend>Rango Fechas</legend>
									<span class="userinput">
										Mes <select name="messelect" class="select1" >
											<option value="0" {selectedM0}>TODOS</option>
											<option value="1" {selectedM1}>ENE</option>
											<option value="2" {selectedM2}>FEB</option>
											<option value="3" {selectedM3}>MAR</option>
											<option value="4" {selectedM4}>ABR</option>
											<option value="5" {selectedM5}>MAY</option>
											<option value="6" {selectedM6}>JUN</option>
											<option value="7" {selectedM7}>JUL</option>
											<option value="8" {selectedM8}>AGO</option>
											<option value="9" {selectedM9}>SEP</option>
											<option value="10" {selectedM10}>OCT</option>
											<option value="11" {selectedM11}>NOV</option>
											<option value="12" {selectedM12}>DIC</option>
										</select> / 
										Año <select name="anoselect" class="select1">
											<option value="0" >TODOS</option>
											<!-- BEGIN AnoDisp -->
											<option value="{fecha}" {selected}>{fecha}</option>
											<!-- END AnoDisp -->
										</select>
										<input type="submit" value="Filtrar">
									</span>
									</fieldset>
								</td>
							</tr>
						</table> 
					</td>
					<td width="10%">
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="2" class="textonormal">
							<tr>
								<td>
									<fieldset>
									<legend>Ordenar Por &nbsp;</legend>
									<table border="0" align="center" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<span class="userinput">
												<select name="select4" class="select1" onChange="submit();">
													<option value="1" {selected41}>N&ordm; OT</option>
													<option value="2" {selected42}>N&ordm; OS</option>
													<option value="3" {selected43}>Tienda</option>
													<option value="4" {selected44}>F. Creaci&oacute;n</option>
													<option value="5" {selected45}>F. Reactivaci&oacute;n</option>
													<option value="6" {selected46}>Estado</option>
												</select>
												</span>
											</td>
										</tr>
									</table>
									</fieldset>
								</td>
							</tr>
						</table>
					</td>  
				</form>
				</tr>
			</table>

			<table BORDER="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td>
						<table width="750"  border="0" bordercolor="#000000" align="left" cellpadding="2" cellspacing="0" class="tabla2">
							<FORM NAME="monitor" METHOD="POST" ACTION="index.php" onSubmit="">
							<input type="hidden" name="texto_osot" value="{texto_osot}">
							<input type="hidden" name="radioE" value="{radioE}">
							<input type="hidden" name="radioR" value="{radioR}">
							<input type="hidden" name="checkedRA" value="{checkedRA}">
							<input type="hidden" name="checkedRI" value="{checkedRI}">
							<input type="hidden" name="checkedRT" value="{checkedRT}">
							<input type="hidden" name="select4" value="{orden}">
							<input type="hidden" name="messelect" value="{messelect}">
							<input type="hidden" name="anoselect" value="{anoselect}">
							<tr>
								<th width="50" >N&ordm; OT </th>
								<th width="50" >N&ordm; OS </th>
								<th width="50" >N&ordm; OC SAP </th>
								<th width="180" >Tienda<br>
									<select name="select_local" class="select1" onChange="submit();">
										{ALL}
										<!-- BEGIN Locales -->
										<option value="{id_local}" {selected}>{nom_local}</option>
										<!-- END Locales -->
									</select>
								</th>
								<th width="120" >F. Creaci&oacute;n<br>
									<select name="select_fecha" class="select1" onChange="submit();">
										<option value="0" >TODAS</option>
										<!-- BEGIN Fecha_Creacion -->
										<option value="{fechat}" {selected}>{fecha}</option>
										<!-- END Fecha_Creacion -->
									</select>
								</th>
								<th width="100">F. Reactivaci&oacute;n<br>
									<select name="select_fechar" class="select1" onChange="submit();">
										<option value="0" >TODAS</option>
										<!-- BEGIN Fecha_Reactivacion -->
										<option value="{fechat}" {selected}>{fecha}</option>
										<!-- END Fecha_Reactivacion -->
									</select>
								</th>
								<th>Estado<br>
									<select name="select_estado" class="select1" onChange="submit();">
										<option value="0">TODOS</option>
										<!-- BEGIN Estados -->
										<option value="{id_estado}"{selected}>{esta_nombre}</option>
										<!-- END Estados -->
									</select>
								</th>
								<th>Acci&oacute;n</th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<!--div style="width: 770px; height: 350px; left: 100px; top: 353px; overflow: auto;"-->    
						<table width="750" border="0" cellpadding="1" cellspacing="0" align="left" class="tabla2">
							<!-- BEGIN lista -->
							<tr>
								<td width="50" align=center><font color="{color}">{ot_id}</font></td>
								<td width="50" align=center><font color="{color}">{id_os}</font></td>
								<td width="50" align=center><font color="{color}">{noc_sap}</font></td>
								<td width="180" align=center><font color="{color}">{nom_local}</font></td>
								<td width="120"><font color="{color}">{ot_fechacreacion}</font></td>
								<td width="100"><font color="{color}">{ot_freactivacion}</font></td>
								<td width="120"><font color="{color}">{esta_nombre}</font></td>
								<td width="60" align=center><a href="../monitor_ot_pe/monitor_detalle_01.php?id_ot={ot_id}&id_estado={estado}">Ver</a></td>
							</tr>
							<!-- END lista -->
						</table>
						<!--/div-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
<!--paginacion-->
			{inicio}
			<tr><td>
			<table BORDER="0" cellspacing="0" cellpadding="0" align="right">
			<tr>
			<td>&nbsp;&nbsp;</td>
			</tr>
			<tr><td>
				<form NAME="form_paginas" METHOD="POST" ACTION="monitor_ot_pe.php">
				<input type="hidden" name="texto_osot" value="{texto_osot}">
				<input type="hidden" name="radioE" value="{radioE}">
				<input type="hidden" name="radioR" value="{radioR}">
				<input type="hidden" name="checkedRA" value="{checkedRA}">
				<input type="hidden" name="checkedRI" value="{checkedRI}">
				<input type="hidden" name="checkedRT" value="{checkedRT}">
				<input type="hidden" name="select4" value="{select4}">
				<input type="hidden" name="messelect" value="{messelect}">
				<input type="hidden" name="anoselect" value="{anoselect}">

				<td align="right" class="textonormal">N&uacute;mero de página &nbsp;</td>
				<td align="right">
				<span class="userinput">
				<select name="select_pag" Onchange="submit();">
				   <!-- BEGIN Paginas -->
					 <option value="{pag}" {selected}>{pag}&nbsp;</option>
				   <!-- END Paginas -->
				{inicio}</select>
				</span>
				</td>
				</tr>
				</form>
			</td></tr>
			</table>
			</td>
			</tr>
			{fin}

</table>

<SCRIPT LANGUAGE="JavaScript">
	document.busca_osot.texto_osot.onkeypress = NumberIsKey ;
	document.busca_osot.texto_nocsap.onkeypress = NumberIsKey ;
</script>
