<html>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<BODY leftMargin=0 topMargin=0 marginheight="0" marginwidth="0" background="../img/bg_pattern_002.jpg">
<table width="780" height="30" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="Titulo" -->Consultar Pedidos Línea Blanca <!-- InstanceEndEditable --></td>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="BarraAuxiliar2" --> <!-- InstanceEndEditable --></td>
  </tr>
</table>
<script language="JavaScript" src="../checkfield.js"></script>
<SCRIPT LANGUAGE="JavaScript" SRC="../CalendarPopup.js"></SCRIPT>
<script language="JavaScript" type="text/JavaScript" src="../nueva_cotizacion/popup.js"></script>
<SCRIPT LANGUAGE="JavaScript">document.write(getCalendarStyles());</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
	var cal1 = new CalendarPopup("testdiv1");	//Se asigna la respuesta a la ventana actual
	cal1.offsetX = -77;										
	cal1.offsetY = +20;

//Valida que los campos de fecha no esten vacios y la diferencia de fechas no sea superior a 30 dias	
	function fechaNovacia(){
		var Fini = document.viaje.fecha_desde.value
		var FFin = document.viaje.fecha_hasta.value;
	
		if(Fini != '' && FFin != '')
			fechaMayor30();	
		
		else if(Fini != '' && FFin == '')
			alert("Debe ingresar Fecha Final");
			
		else if(Fini == '' && FFin != '')
			alert("Debe ingresar Fecha de Inicio");
		
		else
			alert("Debe ingresar Fecha de Inicio y Fecha Final");							
	}

//Valida que los campos de fecha no esten vacios y la diferencia de fechas no sea superior a 30 dias	
	function fechaMayor30(){	
		var Fini = document.viaje.fecha_desde.value
		var FFin = document.viaje.fecha_hasta.value;
	
			str1 = Fini.split("/");
			str2 = FFin.split("/");
						
			var anomn = str1[2];
			var anomy = str2[2];
			
			var mesmn =  str1[1];
			var mesmy =  str2[1];
					
			var diamn =  str1[0];
			var diamy =  str2[0];
			
			var evalano = ((anomy - anomn) * 360);
			var evalmes = ((mesmy *30) - (mesmn *30));
			var evaldia = diamy - diamn;		
			var totaldias = evaldia + evalmes + evalano;	
				
			if(totaldias < {rango_cons}){
				Buscar();
			}
			else{
				alert("Debe seleccionar un rango de fechas menor o igual a "+{rango_cons}+" días");
				}
	}
	
	function Buscar(){
		fecha_desde = document.viaje.fecha_desde.value;
		fecha_hasta = document.viaje.fecha_hasta.value;
		formatof=true;
		if(fecha_desde || fecha_hasta){
			formatof=FormatoFechas(fecha_desde,fecha_hasta);
		}
		
		valor = EvaluaFechas(fecha_desde,fecha_hasta);
		if(formatof){
			if(valor==false){
				alert('Fecha Desde mayor que Fecha Hasta');
				document.viaje.fecha_desde.select();
				return false;					
			}
		}
		else{
			alert('Debe ingresar Formato Correcto en Fecha');
		}
		document.viaje.submit();
	}

	function FormatoFechas(fi,ft){
		var str1 = fi;
		var str2 = ft;
		fechaArr1 = new Array;
		fechaArr2 = new Array;
		 
		fechaArr1 = str1.split("/");
		fechaArr2 = str2.split("/");
		if (((str1.substring(2,3))=="/")&&((str1.substring(5,6))=="/")){
			f1correcta=true;
		}else{
			f1correcta=false;
		}

		if (((str2.substring(2,3))=="/")&&((str2.substring(5,6))=="/")){
			f2correcta=true;
		}else{
			f2correcta=false;
		}
		if (f1correcta && f1correcta){
			return true;
		}else{
			return false;
		}
	}

	function EvaluaFechas(fi,ft){
		var fecha1=new Date()
		var fecha2=new Date()
		var str1 = fi;
		var str2 = ft;
		
		fechaArr1 = new Array;
		fechaArr2 = new Array;
		 
		fechaArr1 = str1.split("/");
		fechaArr2 = str2.split("/");
		
		/* convierte la fecha a número comparable*/
		fecha1.setFullYear(fechaArr1[2],fechaArr1[1]-1,fechaArr1[0])
		fecha2.setFullYear(fechaArr2[2],fechaArr2[1]-1,fechaArr2[0])
		 
		if (fecha1>fecha2){
		  return false;
		}
		if (fecha1 == fecha2){
		  return true;
		}
		if (fecha1 < fecha2){
		  return true;
		}
	}
	
	function FechasSup30(fi,ft){
		var fecha1=new Date()
		var fecha2=new Date()
		var str1 = fi;
		var str2 = ft;
		
		fechaArr1 = new Array;
		fechaArr2 = new Array;
		 
		fechaArr1 = str1.split("/");
		fechaArr2 = str2.split("/");
		
		if (fechaArr1[2]==fechaArr2[2] && fechaArr1[1]==fechaArr2[1] && fechaArr1[0]==fechaArr2[0]){
		  return true;
		}
		if (fechaArr1[2]==fechaArr2[2] && fechaArr1[1]!=fechaArr2[1] && fechaArr1[0]==fechaArr2[0]){
		  return false;
		}
	}
	
</SCRIPT> 
<!--  Función que realiza la operación de Exportar a Excel -->
<!-- Si se genera error en la ejecucion de este JavaScript, por favor habilite la ejecucion de controles ActiveX
     en su navegador, (Menú - Herramientas - Opciones de Internet - Seguridad) -->
<script LANGUAGE=javascript>
function exportToXL(eSrc) {
var oExcel;
var oExcelSheet;
var oWkBooks;
var cols;
oExcel = new ActiveXObject('Excel.Application');
oWkBooks = oExcel.Workbooks.Add;
oExcelSheet = oWkBooks.Worksheets(1);
oExcelSheet.Activate();
if (eSrc.tagName != 'TABLE') {
alert('No ha sido posible exportar la tabla a excell');
return false;
}
cols = Math.ceil(eSrc.cells.length / eSrc.rows.length);
for (var i = 0; i < eSrc.cells.length; i ++)
{
var c, r;
r = Math.ceil((i+1) / cols);
c = (i+1)-((r-1)*cols)
if (eSrc.cells(i).tagName == 'TH') {
oExcel.ActiveSheet.Cells(r,c).Font.Bold = true;
oExcel.ActiveSheet.Cells(r,c).Interior.Color = 14474460;
}
if (eSrc.cells(i).childNodes.length > 0 && eSrc.cells(i).childNodes(0).tagName == "B")
oExcel.ActiveSheet.Cells(r,c).Font.Bold = true;
oExcel.ActiveSheet.Cells(r,c).Value = eSrc.cells(i).innerText;
}
oExcelSheet.Application.Visible = true;
}
</script>

<table width="780" height="*"  border="0" cellpadding="0" cellspacing="0">
<FORM NAME="viaje" METHOD="POST" ACTION="cons_LnBlanca.php" onSubmit="">
  <tr>
    <td valign="top">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top">
			<table border="0" width="50%" align="center" cellpadding="0" cellspacing="0" class="textonormal">
				<tr>
					<!-- Elemento Locales -->
					<td colspan="1" align="center">
					<fieldset style="height: 50px;">
							<legend>Proveedor</legend>
							<table border="0" align="center">
								<tr>
									<td valign="bottom">
										<span class="userinput">
										<select name="idproveedores" id="idproveedores" class="select1">
										<option value="">Todos</option>
										<!-- BEGIN Bloque_proveedores -->
										<option value="{id_proveedor}">{nom_prov}</option>
										<!-- END Bloque_proveedores -->
										 </select>
										</span>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
					<td width="10px;"></td>
					<td align="center">
						<fieldset style="height: 50px;">
							<legend>Tienda</legend>
							<table border="0"   align="center">
								<tr>
									<td valign="bottom">
										<span class="userinput">
										<b>*</b><select name="idCentroDespacho" id="idCentroDespacho" class="select1">
										<!-- BEGIN Bloque_centro_despacho -->
										<option value="{id_local}" {selected_local} >{nombre_local}</option>
										<!-- END Bloque_centro_despacho -->
										 </select>
										</span>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
									
				</tr>
				
				<tr>
					<td colspan="3">
						<fieldset style="height: 70px;">
							<legend>
								Fecha de Inicio 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								Fecha Fin</legend>
							<table border="0"   align="center" height="20" cellspacing="0" cellpadding="0" style="margin-top: 20px;">
								<tr>
									<td class="textonormal" class="titulonormalnegro">*Desde&nbsp;&nbsp;
									<a href="#" onClick="cal1.select(document.forms[0].fecha_desde,'anchor1','dd/MM/yyyy'); return false;" name="anchor1" id="anchor1"><img src="../img/cal.gif" width="16" height="16" border="0" title="Fecha Desde "></a>
									 <DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
									<input name="fecha_desde" id="fecha_desde" type="text" size="12" maxlength="12" value="{fecha_desde}" onClick="cal1.select(document.forms[0].fecha_desde,'anchor1','dd/MM/yyyy'); return false;" readonly="readonly">
								  </td>
									<td width="80px;">
									</td>
									<td class="textonormal" class="titulonormalnegro">*Hasta&nbsp;&nbsp;
									<a href="#" onClick="cal1.select(document.forms[0].fecha_hasta,'anchor','dd/MM/yyyy'); return false;" name="anchor" id="anchor"><img src="../img/cal.gif" width="16" height="16" border="0" title="Fecha Hasta "></a>
									 <DIV ID="testdiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
									<input name="fecha_hasta" id="fecha_hasta" type="text" size="12" maxlength="12" value="{fecha_hasta}" onClick="cal1.select(document.forms[0].fecha_hasta,'anchor','dd/MM/yyyy'); return false;" readonly="readonly">
									</td>
								</tr>
							</table>
							</legend>
						</fieldset>
					</td>
				</tr>

				<tr>
					 <td colspan="3" align="center">
						<br><input type="button" name="Button" value="&nbsp;Consultar&nbsp;" onclick="fechaNovacia()"><br>{Export}
					</td>
						
				</tr>
				
				<tr>
					<td colspan="3" height="80px;"></td>
				</tr>
			</table>
			
			<!-- BEGIN Grilla -->
			<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2" class="tabla1" style="margin-top: -60px;">
			    <tr>
					<td align="center" colspan="9" class="titulonormalnegro">
						* Campos de carácter obligatorio</span>
							{alert}&nbsp;{prueba}			
					</td>
				</tr>
				<tr style="color:#FF0000">
					<th colspan="9" align="center">{Encabezado}</td>
				</tr>
			</table>
			<table id=idTable width="100%" border="0" align="center" cellpadding="2" cellspacing="2" class="tabla1">
				<tr>
				    <th>N°. Orden de Trabajo</th>
					<th>N°. Orden de Compra</th>
					<th><div style="width: 65px;">Nit Easy</div></th>
					<th><div style="width: 55px;">Fecha de Creación</div></th>
					<th>Tienda</th>
					<th>Evento</th>
					<th>CC Cliente</th>
					<th>Nombre Cliente</th>
					<th>Teléfono</th>
					<th>Celular</th>
					<th>Dirección</th>
					<th>Ciudad</th>
					<th>Barrio</th>
					<th>Cod. EAN</th>
					<th>Descripción Producto</th>
					<th>Cantidad</th>
					<th>Valor</th>
					<th>Observaciones</th>
					<th><div style="width: 55px;">Fecha de Entrega</div></th>
				</tr>
				<!-- BEGIN Bloque_Resultados -->
				<tr>
				    <td align="left">{ot_id}</td>		
					<td align="left">{noc_sap}</td>		
					<td align="left">900.155.107-1</td>	
					<td align="left">{fecha_crea}</td>		
					<td align="left">{tienda}</td>	
					<td align="center">N</td>
					<td align="center">{cedula}</td>
					<td align="center">{clie_nombre}</td>
					<td align="center">{clie_tel}</td>
					<td align="center">{clie_cel}</td>
					<td align="center">{clie_dire}</td>
					<td align="center">{ciudad}</td>
					<td align="center">{barrio}</td>
					<td align="center">{cod_EAN}</td>
					<td align="center">{des_prod}</td>
					<td align="center">{cant_prod}</td>
					<td align="center">{val_prod}</td>
					<td align="center">{obs_prod}</td>
					<td align="center">{fec_entrega}</td>
				</tr>
				<!-- END Bloque_Resultados -->
			</table>
		<!-- END Grilla -->
		
		<!--	<SCRIPT LANGUAGE="JavaScript">
			window.document.viaje.fecha_desde.onkeypress = KeyIsFecha;
			window.document.viaje.fecha_hasta.onkeypress = KeyIsFecha;
			</script> -->
			</FORM>

		</td>
        </tr>
      </table>
     <p>&nbsp;</p>
	</td>
  </tr>

<!-- InstanceEndEditable -->
</table>
</body>
<!-- InstanceEnd -->
</html>