<table width="90%"  border="0" align="center" cellpadding="2" cellspacing="2" class="textonormal">
<!--  
<tr>
  <td><u>CONDICIONES DE DESPACHO A DOMICILIO</u>
	<ol>
	  <li>Easy despachar&aacute; sus productos, s&oacute;lo hasta la puerta de su domicilio o antejard&iacute;n hasta 5 metros de distancia. Los despachos en edificios de departamentos a pisos superiores, los productos se entregan solamente hasta la planta baja o conserjer&iacute;a. Se exept&uacute;an de esta condici&oacute;n solamente los productos de L&iacute;nea Blanca, Electrodom&eacute;sticos oportables. </li>
	  <li>Easy despachar&aacute; sus productos en el plazo convenido de 72 horas, o en plazo acordado con el cliente, que se har&aacute; efectivo a contar del momento de la firma de esta solicitud, se except&uacute;an situaciones de fuerza mayor.</li>
	  <li> En caso de disconformidad o da&ntilde;o del producto, el cliente debe rechazarlo y consignar su disconformidad en la gu&iacute;a de despacho.</li>
	  <li>Ser&aacute; responsalibilidad del cliente la exactitud de los datos entrgados por una correcta y oportuna entrega en su domicilio.</li>
	  <li>Los productos s&oacute;lo ser&aacute;n entregados contra C&eacute;dula, firma y recepci&oacute;n conforme en la gu&iacute;a de despacho.</li>
	  <li>Los productos NO se despachar&aacute;n en horarios espec&iacute;ficos. Si en nuestra primera visita Ud. no se encuentra en su domicilio, se dejar&aacute; un aviso de visita y pasaremos una segunda vez, si persiste esta situaci&oacute;n, deber&aacute; acercarse a nuestra tienda y pagar un nuevo despacho. </li>
	</ol></td>
</tr>
-->
</table>
