html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

#reportBody * {
    font-size: 9pt !important;	
}

a {
    display: none;
}

div.scrolled {
    overflow: visible;
}

div.letterPrintedForm {
    width: 16.5cm;
}

.report-table-simple *, td, th{
    font-size: 9pt !important;	
}
