#blanco {
	margin-left: 0px; font:11px Arial, Helvetica, sans-serif; background:#ee1b24;
	text-align:center; padding:0px 4px; color:#fff00b; border:1px solid #fff00b; cursor: pointer;
}

BODY {
  margin           : 0px 0px 0px 0px;
/*  background-color : #ABABAB;*/
	scrollbar-3dlight-color: #EE7A7A;
	scrollbar-base-color: #FF9900;
	scrollbar-darkshadow-color: #ECECEC;
	scrollbar-face-color: #CC0000;
	scrollbar-highlight-color: #CC4343;
	scrollbar-shadow-color: #CC4343;
	scrollbar-track-color: #ECECEC;
	scrollbar-arrow-color: #000000;
}



.textonormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.textoespecial1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	color: #000000;
	border: 0;
	background-color: #ECE9D8;
}

.titulonormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #E20A16;
}
.titulonormalnegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.subtitulonormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	/*color: #E20A16;*/
}

input {
	font-size: 9px;
}

.input_alr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	color:  #000000;
	border: 6px #000000;
}

select {
	font-size: 9px;
}

.select1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000000;
	border: 0px #FFFFFF;
}

.select2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #434D67;
	border: 0px #FFFFFF;
}
.select3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	color: #000000;
	border: 0px #FFFFFF;
}
.selectleft {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: left;
	font-weight: bolder;
	color: #434D67;
	border: 0px #FFFFFF;
}
.selectright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	font-weight: bolder;
	color: #434D67;
	border: 0px #FFFFFF;
}
.sright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	font-weight: bolder;
	color: #434D67;
	border: 7px #000000;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.userinput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #434D67;
}

.tabla1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 0px #FFFFFF;
}
	
.tabla1 th
{
	background-color: #EEEEEE;
	font: 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #546081;
	padding: 3px;
	border: 1pt solid #ABAFD8;
}

.tabla1 td {
	border: 1px solid #D3D6EB;
}

.tabla1 tr.encabezado {background-color: #BCBCBC;}

.tabla1 tr.trclaro {background-color: #FFFFFF;}
.tabla1 tr.trobscuro {background-color: #EFEFDF;}/*#DEDEDE*/

.tabla1 td.tdclaro {background-color: #FFFFFF;}
.tabla1 td.tdobscuro {background-color: #EFEFDF;}/*#DEDEDE*/




.tabla2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 0px #FFFFFF;
	border-spacing: 0px;
}
	
.tabla2 th
{
	background-color: #EEEEEE;
	font: 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #546081;
	padding: 3px;
	border: 0pt solid #ABAFD8;
	border-top: 1px solid #ABAFD8;
	border-bottom: 1px solid #ABAFD8;
	border-spacing: 0px;
}

.tabla2 td {
	border: 0px solid #D3D6EB;
	border-bottom: 1px solid #CEDCEA;
}

