<script language="JavaScript" src="../checkfield.js"></script>
<script language="javascript" src="../includes/funciones.js"></script>

{OUT_BARRA}

<table width="780" height="30" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="Titulo" -->Administración de Empresas Instaladoras <!-- InstanceEndEditable --></td>
    <td width="390" class="titulonormal"><!-- InstanceBeginEditable name="BarraAuxiliar2" --><!-- InstanceEndEditable --></td>
  </tr>
	</table>
<table width="780" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><!-- InstanceBeginEditable name="Cuerpo" -->
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="31%" valign="top">
			<table width="902" BORDER="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="851">
						<table width="750" border="0" align="left" cellpadding="2" cellspacing="0" class="tabla2">
							<tr>
								<th width="113" align="left" >C&eacute;dula o Nit </th>
								<th width="198" align="left" >Nombre Empresa </th>
								<th width="106" align="left" >Tel&eacute;fono</th>
								<th width="7" align="left" >&nbsp;</th>
								<th width="192" align="left" >Dirección </th>
								<th width="7" align="left" >&nbsp;</th>
								<th width="99" align="left" >Acci&oacute;n</th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<div style="width: 770px; height: 330px; left: 49px; top: 353px; overflow: auto;"> 
						<table width="750" border="1" align="left" class="tabla2" cellspacing="0">
							<!-- BEGIN listado -->
							<tr>
								<td width="113" align="left">&nbsp;{nit}</td>
								<td width="197" align="left">{nombre}&nbsp;</td>
								<td width="104" align="left">{telefono}&nbsp;</td>
								<td width="9" align="left">&nbsp;</td>
								<td width="192" align="left">{direccion}&nbsp;</td>
								<td width="6" align="left">&nbsp;</td>
								<td width="99" ><div align="center">{ACCIONES}</div></td>
							</tr>
							<!-- END listado -->
						</table>
						</div>		  
					</td>
				</tr>
			</table>
		  </td>
		</tr>
	  </table>
    <!-- InstanceEndEditable -->
	</td>
  </tr>
</table>
