<link href="../../style.css" rel="stylesheet" type="text/css">
<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>
{OUT_BARRA}
<br>
<SPAN class=subtitulo>{SUBTITULO1}</SPAN>
<br>
<br>
<table border="0" align=center class="generica">
  <tr class="table_titulo">
	<td><B>Usr id</B></td>
    <td><B>Últimas conexión</B></td>
    <td><B>login</B></td>
    <td><B>Nombre</B></td>
    <td><B>Apellidos</B></td>
    <td><B>País</B></td>
    <td><B>Hits</B></td>
    <td>D&iacute;a</td>
  </tr>
  <!-- BEGIN Track1 -->
  <tr>
	<td>{usr_id}&nbsp;</td>
    <td align=center>{conexion}&nbsp;</td>
    <td>{usr_login}&nbsp;</td>
    <td>{usr_nombres}&nbsp;</td>
    <td>{usr_apellidos}&nbsp;</td>
    <td>{usr_pais}&nbsp;</td>
    <td>{cantidad}&nbsp;</td>
    <td>{dia}</td>
  </tr>
  <!-- END Track1 -->
</table>

<br>