<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>
{OUT_BARRA}
<br>
<SPAN class=subtitulo>{SUBTITULO1}</SPAN>
<br>
<br>
<table border="0" align=center class="generica">
<tr class="table_titulo">
	<td><B>{TEXT_CAMPO_1}</B></td>
	<td><B>{TEXT_CAMPO_2}</B></td>
	<td><B>{TEXT_CAMPO_3}</B></td>
	<td><B>{TEXT_CAMPO_4}</B></td>
	<td><B>{TEXT_CAMPO_5}</B></td>
	<td><B>{TEXT_CAMPO_6}</B></td>
</tr>
<!-- BEGIN Track1 -->
<tr>
	<td>{usr_id}&nbsp;</td>
	<td align=center>{conexion}&nbsp;</td>
	<td>{usr_login}&nbsp;</td>
	<td>{usr_nombres}&nbsp;</td>
	<td>{usr_apellidos}&nbsp;</td>
	<td>{cantidad}&nbsp;</td>
</tr>
<!-- END Track1 -->
</table>

<br>