<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>
{OUT_BARRA}
<br>
<SPAN class=subtitulo>{SUBTITULO1}</SPAN>
<br>
<br>
<table border="0" align=center class="generica">
<tr class="table_titulo">
	<td><B>Usr id</B></td>
	<td><B>Tra id</B></td>
	<td><B>Fecha</B></td>
	<td><B>IP</B></td>
	<td><B>Server</B></td>
	<td><B>URL</B></td>
	<td><B>Referer</B></td>
</tr>
<!-- BEGIN Track1 -->
<tr>
	<td>{tra_usr_id}&nbsp;</td>
	<td>{tra_uid}&nbsp;</td>
	<td>{tra_tracktime}&nbsp;</td>
	<td>{tra_ip}&nbsp;</td>
	<td>{tra_server}&nbsp;</td>
	<td>{tra_requrl}&nbsp;</td>
	<td>{tra_referer}&nbsp;</td>
</tr>
<!-- END Track1 -->
</table>

<br>