<html>
<head>
<title>{PAGETITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link rel="stylesheet" type="text/css" href="../style.css">
<script language="javascript" src="../../includes/funciones.js"></script>

<script>

	function validar_form( form ) {
		if( validar_obligatorio( form.nombre_in, "{CAMPO_OBLIGATORIO}" ) ) return false;
		if( validar_obligatorio( form.descripcion_in, "{CAMPO_OBLIGATORIO}" ) ) return false;
		return true;
	}

</script>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<SPAN class=titulo>{TEXT_ADMIN_TITULO}</SPAN>
<br>
<br>

<form action="adm_usr_05.php" method="post" name="form_modificar" onSubmit="return validar_form(this);">
<INPUT TYPE="hidden" NAME="action" VALUE="updper">
<INPUT TYPE="hidden" NAME="id_perfil" VALUE="{ID_PERFIL}">
<table border="0" align=center class="form_g">
    <tr valign=top>
        <td >{TEXT_AGREGAR_CAMPO_PERFIL_1}</td>
        <td > : </td>
        <td>
            
            <INPUT TYPE="text" NAME="nombre_in" VALUE="{per_nombre}" SIZE="30" MAXLENGTH="200" onFocus="cambiar_color_on(this);" onBlur="cambiar_color_off(this);">
            
        </td>
    </tr>
    <tr valign=top>
        <td >{TEXT_AGREGAR_CAMPO_PERFIL_2}</td>
        <td > : </td>
        <td>
            <TEXTAREA NAME="descripcion_in" ROWS="4" COLS="29" onFocus="cambiar_color_on(this);" onBlur="cambiar_color_off(this);">{per_descripcion}</TEXTAREA>
        </td>
		<td>&nbsp;
		</td>
    </tr>
</table>
<center>
<br>
<INPUT TYPE="submit" value="{BOTON_MODIFICAR_PERFIL}">
</center>
</form>

<SPAN class=titulo>{TEXT_ADMIN_TITULO_ELIMINAR}</SPAN>

<p>{TEXTO_ELIMINACION}</p>

<SPAN class=subtitulo>{TEXT_ADMIN_TITULO_ASOCIADOS}</SPAN>

<br>
<br>

<table border="0" align=center class="modulos_usr">
<!-- BEGIN Modulos -->
<tr >
    <td width="220">
		{espacios}{mod_nombre}
    </td>
    <td width=50 align=center>
		<a href="adm_usr_05.php?action=f_mod_asociar&id_perfil={ID_PERFIL}&pemo_mod_id={pemo_mod_id}" >{TEXT_ADMIN_MODIFICAR_IMG}</a> <a 
        <a href="adm_usr_05.php?action=desasociar&id_perfil={ID_PERFIL}&pemo_mod_id={pemo_mod_id}" >{TEXT_ADMIN_ELIMINAR_IMG}</a>
    </td>
</tr>
<!-- END Modulos -->
</table>

<br>

<SPAN class=subtitulo>{TEXT_ADMIN_TITULO_NOASOCIADOS}</SPAN>

<br>
<br>
<table border="0" align="center" class="modulos_usr">
<!-- BEGIN Modulos_na -->
<tr>
    <td width="220">
		{espacios}{mod_nombre}
    </td>
    <td width=50 align=center>
        <a href="adm_usr_05.php?action=f_asociar&id_perfil={ID_PERFIL}&pemo_mod_id={pemo_mod_id}" >{TEXT_ADMIN_AGREGAR_IMG}</a>
    </td>
</tr>
<!-- END Modulos_na -->
</table>

<br>