<html>
<head>
<title>{PAGETITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link rel="stylesheet" type="text/css" href="../style.css">

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<SPAN class=titulo>{TEXT_ELIMINAR_USR}</SPAN>

<p align=center>{TEXT_ELIMINAR_USR_1}</p>

<p align=center>
    <a href="adm_usr_08.php?action=delusr&usr_id={USR_ID}&per_o={PER_O}">{TEXT_ELIMINAR_USR_2}</a>
    <a href="blanco.html">{TEXT_ELIMINAR_USR_3}</a>
</p>

</body>

</html>