<SPAN class=titulo>{TEXT_TITULO}</SPAN>
<br>
<p>{TEXT_1}</p>
<br>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CCCCCC" align=center>
	<tr valign=top>
		<td>
			<table width="100%" border="0" cellspacing="2" cellpadding="0" align=center>
				<tr>
					<td width="50%">
						<iframe src="adm_usr_02.php?tm=<?=time()?>" name="code" width="0" height="0" FRAMEBORDER=0 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"></iframe>
						<iframe src="blanco.html" name="menuusr" width="100%" height="{LARGO_IFRAME}" align=left FRAMEBORDER=0 leftmargin="0" topmargin="0" marginwidth="5" marginheight="5"></iframe>
					</td>
					<td width="50%">
						<iframe src="blanco.html" name="acciones" width="100%" height="{LARGO_IFRAME}" align=left FRAMEBORDER=0 leftmargin="0" topmargin="0" marginwidth="5" marginheight="5"></iframe>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<br>