		  <table style="width:100%;" border="0" align="center" cellpadding="2" cellspacing="0" class="tabla2">
	<!-- BEGIN LISTADO_OT -->
                {inicomment}
				<tr>
                  <th colspan="5">OT # {ot_id}</th>
                </tr>
                <tr>
                  <th>UPC/(SKU)</th>
                  <th>Descripci&oacute;n</th>
                  <th>Precio Unitario </th>
                  <th>Cantidad Solicitada </th>
                  <th>Cantidad Pickeada</th>
                </tr>
                {fincomment}
                <tr valign="top">
                  <td><div align="left">{cod_barra} / ({cod_sap})</div></td>
                  <td>{osde_descripcion}</td>
                  <td><div align="right">{osde_precio}</div></td>
                  <td><div align="right">{osde_cantidad}</div></td>
                  <td><div align="right">&nbsp;</div></td>
                </tr>
                {inicomment}
				<tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                {fincomment}
 	<!-- END LISTADO_OT -->
		</table>