<!-- ################################################################### -->

<link href="estilos.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="menu/menu.css">
<script language="JavaScript" src="menu/menu.js"></script>
<script language="JavaScript" src="menu/menu_tpl.js"></script>
<script language="JavaScript" src="menu/menu_items.js"></script>
<script language="javascript" src="../../includes/funciones.js"></script>
<script language="JavaScript" type="text/JavaScript" src="../nueva_cotizacion/popup.js"></script>
<script>
	//popUpWindow('{URL_CVE}{MO_PI_CVE}?&user={login}&pass={clave}', 100, 100, 770, 500);	
</script>
<br><br><br><br><br><br>
<table width="50%"  border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
	<td height=100 class=titulonormal align=center>
	Va a iniciar una sesi&oacute;n en el sistema CVE. <br>Para continuar presione <a href="javascript:popUpWindow('{URL_CVE}{MO_PI_CVE}?&user={login}&pass={clave}', 100, 100, 770, 500)">aqu&iacute;</a>
	<!--<iframe src="{URL_CVE}{MO_PI_CVE}?&user={login}&pass={clave}" name="monitorpick" width="100%" height="500" FRAMEBORDER=0 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
	</td>
	</tr>
</table>
