<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Listado Picking</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="33,*" cols="*" framespacing="0" frameborder="NO" border="0">
  <frame src="prthdr.php" name="topFrame" scrolling="NO" noresize >
  
  <!-- Se eliminan los parametros enviados por GET a print1.php ?RAD_IO={RAD_IO}&NUM={NUM}&ORDEN={ORDEN}&TO={TO}&TD={TD}&OTF={OTF}&EST={EST} -->
  <frame src="print1_picking.php" name="mainFrame">
</frameset>
<noframes><body>
</body></noframes>
</html>