<link href="../../estilos.css" rel="stylesheet" type="text/css">

<SPAN class=titulonormal>{TEXT_TITULO}</SPAN>
<br>
{OUT_BARRA}
<br>
<SPAN class=subtitulo>{SUBTITULO1}</SPAN>
<br>
<br>
<table width="80%" border="0" align=center class="tabla1">
<tr class="table_titulo">
	<th>{TEXT_CAMPO_1}</td>
	<th width="50">{TEXT_CAMPO_9}</th>
	<th width="120">{TEXT_CAMPO_10}</th>
	<th width="80">{TEXT_CAMPO_8}</th>
</tr>
<!-- BEGIN Modulos -->
<tr >
	<td>{mod_nombre}&nbsp;</td>
	<td width="50" align=center>{mod_orden}&nbsp;</td>
	<td width="120" align=center>{padre}&nbsp;</td>
	<td width="80" align=center>{ACCIONES}</td>
</tr>
<!-- END Modulos -->
</table>

<br>